<%- include ('./partials/cartNavbar') %>
<div class="jumbotron bg mt-5">
    <div class="container">
        <h1 class="display-1 text-center text-white">Cart</h1>
    </div>
</div>
<div class="d-flex justify-content-center">
<div class="spinner-grow" role="status" >
    <span class="sr-only">Loading...</span>
  </div><br>
  <div class="display-4">This Page is Under Construction .</div>
</div> 

<style>
    .bg{
        background-image: linear-gradient(50deg,rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/296916/pexels-photo-296916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .spinner-grow{
        height: 70px;
        width: 70px;
        background: rgb(19,35,69);
background: radial-gradient(circle, rgba(19,35,69,1) 26%, rgba(26,28,41,1) 26%, rgba(36,18,0,1) 58%, rgba(24,255,142,1) 83%, rgba(101,206,227,1) 100%);

    }
</style>