<%- include ('./partials/navbar')%>
<%- include ('./partials/popover')%>

<div class="jumbotron mt-5">
    <div class="container">
      <h1 class="display-4 text-white">Pizza</h1>
      <p class="lead text-white">Complement your pizza with wide range of sides & beverages available at OneLife Pizza India</p>
    </div>
</div>
<nav aria-label="breadcrumb" style="margin-top: -32px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/menu">Menu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pizza</li>
    </ol>
</nav>
<!-- pizza menu -->
<div class="wraper container mt-5 mb-5">
    <div class="row">
        <div class="col-4">
            <!-- one -->
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/bbq-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Slice Specialty Pizza</h5>
                  <span>₹340</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="#" class="btn btn-primary w-100" data-toggle="modal" data-target="#sliceSpecialtyPizza">Buy</a>
                </div>
              </div>
        </div>
        <!-- two -->
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/oriental-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barbecue Pizza</h5>
                <span>₹400</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="#" class="btn btn-primary w-100" data-toggle="modal" data-target="#barbecuePizza">Buy</a>
                </div>
              </div>
        </div>
        <!-- three -->
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/slices-special-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oriental Pizza</h5>
                  <span>₹260</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="/oriental-pizza/order" class="btn btn-primary w-100" data-target="#orientalPizza" data-toggle="modal">Buy</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <!-- one -->
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/ham-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Margherita Pizza</h5>
                  <span>₹300</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="#margheritaPizza" class="btn btn-primary w-100" data-toggle="modal" data-target="#margheritaPizza">Buy</a>
                </div>
              </div>
        </div>
        <!-- two -->
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/pepperoni-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ham Pizza</h5>
                <span>₹500</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="/ham-pizza/order" class="btn btn-primary w-100" data-toggle="modal" data-target="#hamPizza">Buy</a>
                </div>
              </div>
        </div>
        <!-- three -->
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/margherita-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pepperoni Pizza</h5>
                  <span>₹250</span>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                  <p class="card-text" style="font-size: .8rem;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</p>
                  <a href="/pepperoni-pizza/order" class="btn btn-primary w-100" data-toggle="modal" data-target="#pepperoniPizza">Buy</a>
                </div>
              </div>
        </div>
    </div>
</div>


<%- include ('./partials/footer')%>


<style>
     .wraper{
        margin-top: 52px;
    }
    .jumbotron{
       background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/slices-subheader.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       position: relative;
   } 
</style>