



<!-- margheritaPizza -->
<div class="modal fade" id="margheritaPizza" tabindex="-1" aria-labelledby="margheritaPizzaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Margherita Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/ham-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Margherita Pizza</h5>
                  
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                  <h2><span>₹300</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- sliceSpecialtyPizza -->
<div class="modal fade" id="sliceSpecialtyPizza" tabindex="-1" aria-labelledby="sliceSpecialtyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Slice Specialty Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/bbq-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Slice Specialty Pizza</h5>

                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                  <h2><span>₹340</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- barbecuePizza -->
<div class="modal fade" id="barbecuePizza" tabindex="-1" aria-labelledby="barbecuePizzaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Barbecue  Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/oriental-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barbecue Pizza</h5>
                 <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                 <h2><span>₹400</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- orientalPizza -->
<div class="modal fade" id="orientalPizza" tabindex="-1" aria-labelledby="orientalPizzaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Oriental  Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/slices-special-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oriental Pizza</h5>
                  
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                 <h2><span>₹260</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>


<!-- hamPizza -->
<div class="modal fade" id="hamPizza" tabindex="-1" aria-labelledby="hamLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ham Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/pepperoni-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ham Pizza</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                  <h2><span>₹500</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- pepperoniPizza -->
<div class="modal fade" id="pepperoniPizza" tabindex="-1" aria-labelledby="perrperoniLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pepperoni Pizza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/margherita-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pepperoni Pizza</h5>
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p> 
                  <h2><span>₹250</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>


<!-- onionringsModal -->
<div class="modal fade" id="onionRings" tabindex="-1" aria-labelledby="onionRingsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Onion Rings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/onion-rigns-300x297.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Onion Rings</h5>
                  
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2><span>₹120</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success" onclick="orderID('onionRing')">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- englishModal -->
<div class="modal fade" id="english" tabindex="-1" aria-labelledby="EnglishLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">English Breakfast</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/english-breakfast-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">English Breakfast</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹230</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success" onclick="orderID('englishBreakfast')">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- tortillaModal -->
<div class="modal fade" id="tortilla" tabindex="-1" aria-labelledby="tortillaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tortilla Combo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/tortilla-combo-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tortilla Combo</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹140</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success" onclick="orderID('tortillaCombo')">Cart</a>
        </div>
      </div>
    </div>
</div>


<!-- EnglishMuggin Modal -->
<div class="modal fade" id="englishMuffin" tabindex="-1" aria-labelledby="englishMuffinLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">English Muffin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/muffin-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">English Muffin</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹70</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- EnglishMuggin Modal -->
<div class="modal fade" id="brownies" tabindex="-1" aria-labelledby="browniesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Brownies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/brownies-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brownies</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹100</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- cookies Modal -->
<div class="modal fade" id="cookies" tabindex="-1" aria-labelledby="cookiesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chocolate Cookies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/cookies-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chocolate Cookies</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹70</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>


<!-- strawberryJuice -->
<div class="modal fade" id="strawberry" tabindex="-1" aria-labelledby="strawberryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Strawberry Juice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/strawberry-juice-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Strawberry Juice</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹150</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>

<!-- BlueberryJuice -->
<div class="modal fade" id="blueberry" tabindex="-1" aria-labelledby="blueberryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Blueberry Juice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/blueberry-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Blueberry Juice</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹120</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>


<!-- ornageJuice -->
<div class="modal fade" id="orange" tabindex="-1" aria-labelledby="orangeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Orange Juice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 14rem;display: -webkit-box;">
                <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_300/http://androthemes.com/themes/wp/slices/wp-content/uploads/2020/06/orange-300x300.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Orange Juice</h5>
                 
                  <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>   
                <h2> <span>₹90</span></h2>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="/menu" class="btn btn-info">Add More</a>
          <a href="/cart" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
</div>